<div class="container d-flex justify-content-center align-items-center align-content-center">
    <div class="card my-5 landing-container shadow">
        <div class="d-flex justify-content-center align-content-center mt-5">
            <div id="lottie-container" class="mars-animation"></div>
        </div>
        <div class="card-body text-center">
            <p class="card-text fs-4"><strong>Thank you for checking out Mars Photo</strong></p> <!-- Corrected closing tag -->
            <p class="fs-6">This application is in <strong>Beta</strong> testing, features are subject to change.</p>
            <hr class="my-4">
            <div class="d-flex flex-column gap-2">
                <div class="text-center form-text fs-5">Mars Photo Team</div>
                <div class="text-center form-text fs-6">Version {{ version }} Beta</div> <!-- Version Information -->
                <a class="link-dark fs-6" href="https://github.com/alsomeb/tauri-angular-nasa-pics" target="_blank">Provide Feedback & GitHub <i class="pi pi-github"></i></a> <!-- Repo -->
            </div>
        </div>
    </div>
</div>
