<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50 my-5">
        <img src="assets/mars2.jpg" class="card-img-top" alt="mars-pic">
        <div class="card-body text-center">
            <h1 class="card-title fs-3 fw-semibold">Mars Photo</h1>
            <p class="card-text fs-4 my-4"><strong>Explore the wonders of Mars with our desktop app!</strong><p>
            <p class="fs-6">Powered by Angular and Tauri, this application seamlessly fetches stunning images captured by NASA's rovers on the Red Planet. Immerse yourself in the beauty of Mars, right from your desktop.</p>
            <hr class="my-4">
            <div class="text-center form-text fs-6">Developed by Alex</div>
        </div>
    </div>
</div>
