<div class="d-flex justify-content-center align-items-center">
    <div class="card w-50 my-5">
        <img src="assets/mars2.jpg" class="card-img-top" alt="mars-pic">
        <div class="card-body">
            <h4 class="card-title text-center">Mars Photo</h4>
            <br>
            <p class="card-text"><strong>Explore the wonders of Mars with our desktop app!</strong><p>
            <p>Powered by Angular and Tauri, this application seamlessly fetches stunning images captured by NASA's rovers on the Red Planet. Immerse yourself in the beauty of Mars, right from your desktop.</p>
            <div class="text-secondary-emphasis my-3">Dont have an account? <a class="link-dark" routerLink="/register">Register</a></div>
            <hr>
            <div class="text-center form-text">Developed by Alex</div>
        </div>
    </div>
</div>