nav {
    background-color: #FFAD84 !important;
}

a {
    font-size: 1.2rem !important;
}

li a:hover {
    color: white !important;
    cursor: pointer;
}

.active {
    color: white !important;
    font-weight: bold;
}