nav {
    background-color: #FFAD84 !important;
}

a {
    font-size: 1.2rem !important;
}

li a:hover {
    color: white !important;
    cursor: pointer;
}

.active {
    color: white !important;
    font-weight: bold !important;
}

.active-nav {
    color: #FFAD84 !important;
}

.dropdown-item:hover {
    background-color: rgba(245, 114, 15, 0.61) !important;
}


