<div class="container">
    <div class="h2 text-center my-5">Login</div>
    <div class="my-5 border border-dark-subtle rounded p-5 shadow-sm">
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <p class="fw-semibold"
                   *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
                    Email is required</p>
                <input type="text" placeholder="Enter email" class="form-control border border-dark-subtle" id="email"
                       formControlName="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <p class="fw-semibold"
                   *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
                    Password is required</p>
                <input type="password" placeholder="Enter password" class="form-control border border-dark-subtle"
                       id="password" formControlName="password">
            </div>
            <button type="submit" mat-raised-button class="my-3">Submit</button>
            <span *ngIf="loginForm.valid" id="checkmark" class="ps-3"><i class="fa-solid fa-check"></i></span>
            <div id="registerHelp" class="form-text my-3">Dont have an account? <a class="link-dark"
                                                                                   routerLink="/register">Register</a>
            </div>
        </form>
        <hr class="my-4"/>
        <div class="fw-semibold mb-3 fs-6">Sign in with</div>
        <div class="d-flex flex-row gap-2">
            <button class="bg-transparent border-0" (click)="handleLoginDiscord()"><i class="pi pi-discord fs-1"></i></button>
            <!--<button class="bg-transparent border-0"><i class="pi pi-github fs-1"></i></button>-->
        </div>
    </div>
</div>

