<div class="container">
    @if (!isLoading) {
    <div class="h2 text-center my-5">Dashboard</div>
        <div>
            <p class="fw-semibold h5">Pictures from Mars, last month.</p>
            <p class="mb-4">Want more? <a class="link-dark" routerLink="/search"><strong>Search</strong></a> a specific date</p>
        </div>
    }
    <div>
        <div class="row pb-5">
            <!-- I used col-md-6 to make the columns stack horizontally on medium-sized screens and larger. -->
            @for (roverPic of roverPics; track roverPic.id) {
                <div class="col-md-4 mb-5">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Sol {{ roverPic.sol }}</mat-card-title>
                            <mat-card-subtitle>{{ roverPic.rover.name }}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="dynamic">
                            <img mat-card-image
                                 [src]="roverPic.img_src"
                                 alt="Mars Test Photo">
                        </div>
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions class="my-3 d-flex justify-content-center align-content-center">
                            <button mat-raised-button class="me-2" mat-button (click)="showMore(roverPic)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Check out more</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            } @empty {
                @if (isLoading) {
                    <div class="skeleton-loader-container my-5">
                        <ngx-skeleton-loader
                                count="6"
                                appearance="circle"
                                [theme]="
                                   {
                                    'border-radius': '5px',
                                    'height': '395px',
                                    'width': '395px',
                                    'border': '1px solid #C7C8CC',
                                    'box-shadow': 'rgba(0, 0, 0, 0.08) 0px 4px 12px'
                                   }"
                        />
                    </div>
                } @else {
                    <hr />
                    <div class="fw-semibold fs-5 mt-3 text-danger">No pictures available, try search for a specific date</div>
                }
            }
        </div>
    </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-2">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ currentSelectedRoverPic.rover.name }} - {{ currentSelectedRoverPic.camera.full_name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mt-2">
                        <div class="text-center">
                            <img class="img-fluid rounded shadow-sm"
                                 [src]="currentSelectedRoverPic.img_src"
                                 alt="Mars Photo">
                        </div>
                        <div class="my-4">
                            <p><strong>Picture from earth date: </strong> {{ currentSelectedRoverPic.earth_date }}</p>
                            <p><strong>Status: </strong> <span [ngStyle]="{'color': currentSelectedRoverPic.rover.status ? 'green' : 'red'}">{{ currentSelectedRoverPic.rover.status }}</span></p>
                            <p><strong>Total pictures taken: </strong> {{ currentSelectedRoverPic.rover.total_photos }}</p>
                            <p><strong>Launch Date:</strong> {{ currentSelectedRoverPic.rover.launch_date }}</p>
                            <p><strong>Landing Date:</strong> {{ currentSelectedRoverPic.rover.landing_date }}</p>
                            <!-- Add more details as needed -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" mat-raised-button>Add to album</button>
                        <button type="button" mat-raised-button (click)="showImageInSystemDefaultBrowser(currentSelectedRoverPic.img_src)">Open in browser</button>
                    </div>
                </div>
            </div>
        </div>

</div>
