<div class="container">
    <div class="h2 text-center my-5">Dashboard</div>
    <div>
        <div class="row">
            <!-- I used col-md-6 to make the columns stack horizontally on medium-sized screens and larger. -->
            <div class="col-md-4 mb-5">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sol 3927</mat-card-title>
                        <mat-card-subtitle>Curiosity</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://mars.nasa.gov/msl-raw-images/msss/03927/mcam/3927ML1046490061505535C00_DXXX.jpg" alt="Mars Test Photo">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions class="my-3 d-flex justify-content-center align-content-center">
                        <button class="card-btn me-2" mat-button>INFO</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4 mb-5">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sol 3927</mat-card-title>
                        <mat-card-subtitle>Curiosity</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://mars.nasa.gov/msl-raw-images/msss/03927/mcam/3927ML1046490061505535C00_DXXX.jpg" alt="Mars Test Photo">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions class="my-3 d-flex justify-content-center align-content-center">
                        <button class="card-btn me-2" mat-button>INFO</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4 mb-5">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sol 3927</mat-card-title>
                        <mat-card-subtitle>Curiosity</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://mars.nasa.gov/msl-raw-images/msss/03927/mcam/3927ML1046490061505535C00_DXXX.jpg" alt="Mars Test Photo">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions class="my-3 d-flex justify-content-center align-content-center">
                        <button class="card-btn me-2" mat-button>INFO</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-secondary" (click)="testFetch()">Test Fetch Nasa API</button>
    </div>
</div>
