button {
    color: white !important;
}

.errors {
    color: red;
}

.example-header-image {
    background-image: url('https://icons.iconarchive.com/icons/zairaam/bumpy-planets/256/06-mars-icon.png');
    background-size: cover;
}

.dynamic {
    aspect-ratio: 11/9;
    overflow: hidden;
}
