<div class="container">
    <div class="my-5">
            <div class="h3 text-center">NASA Rover Pictures by date</div>
    </div>
    <div>
        <form [formGroup]="searchForm" (ngSubmit)="handleSearch()" class="border border-secondary-subtle p-5 rounded shadow-sm">
            <div class="mb-3">
                <label for="date" class="form-label fw-semibold fs-5 pb-3">Desired Date</label>
                <input type="date" id="date" class="fs-5 form-control border border-dark-subtle" formControlName="date">
            </div>
            <div class="mb-3 mt-4" *ngIf="searchForm.valid">
                <button type="submit" class="fs-6" mat-raised-button>Search<i class="fa-solid fa-magnifying-glass ms-2"></i></button>
            </div>
        </form>
    </div>

    <div class="row pb-5" *ngIf="hasResult">
        <div class="my-3">
            <hr />
        </div>
        <!-- I used col-md-6 to make the columns stack horizontally on medium-sized screens and larger. -->
        @for (roverPic of roverPics; track roverPic.id) {
            <div class="col-md-4 mb-5">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sol {{ roverPic.sol }}</mat-card-title>
                        <mat-card-subtitle>{{ roverPic.rover.name }}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="dynamic d-flex justify-content-center align-items-center align-content-center">
                        <img mat-card-image
                             [src]="roverPic.img_src"
                             alt="Mars Test Photo">
                    </div>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions class="my-3 d-flex justify-content-center align-content-center gap-2">
                        <button mat-raised-button class="me-2 fs-6" mat-button (click)="showMore(roverPic)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Check out more</button>
                        <button mat-icon-button class="text-black" aria-label="Add to album" matTooltip="Add to album">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        } @empty {
            <div class="fs-5 text-danger">
                No pictures available, try another date
            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-2">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">{{ currentSelectedRoverPic.camera.full_name }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center my-4">
                        <img class="img-fluid w-75 rounded shadow-sm"
                             [src]="currentSelectedRoverPic.img_src"
                             alt="Mars Photo">
                    </div>
                    <div class="my-4 fs-5">
                        <p><strong>Rover: </strong> {{ currentSelectedRoverPic.rover.name }}</p>
                        <p><strong>Picture from earth date: </strong> {{ currentSelectedRoverPic.earth_date }}</p>
                        <p><strong>Status: </strong> <span [ngStyle]="{'color': currentSelectedRoverPic.rover.status ? 'green' : 'red'}">{{ currentSelectedRoverPic.rover.status }}</span></p>
                        <p><strong>Total pictures taken: </strong> {{ currentSelectedRoverPic.rover.total_photos }}</p>
                        <p><strong>Launch Date:</strong> {{ currentSelectedRoverPic.rover.launch_date }}</p>
                        <p><strong>Landing Date:</strong> {{ currentSelectedRoverPic.rover.landing_date }}</p>
                        <!-- Add more details as needed -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex row p-3 gap-3">
                        <button type="button" class="fs-6" mat-raised-button (click)="showImageInSystemDefaultBrowser(currentSelectedRoverPic.img_src)">Open in browser <i class="pi pi-desktop"></i></button>
                        <button type="button" class="fs-6" mat-raised-button (click)="downloadImage()">Download <i class="pi pi-download"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
