<div class="container">
    <div class="h2 text-center my-5">Register</div>
    <div class="my-5 border border-dark-subtle rounded p-5 shadow-sm">
        <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <p class="fw-semibold" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)">Email is required</p>
                <input type="text" placeholder="Enter email" class="form-control border border-dark-subtle" id="email" formControlName="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <p class="fw-semibold" *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)">First name is required</p>
                <input type="text" placeholder="First name" class="form-control border border-dark-subtle" id="firstName" formControlName="firstName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <p class="fw-semibold" *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched || registerForm.controls['lastName'].dirty)">Last name is required</p>
                <input type="text" placeholder="Last name" class="form-control border border-dark-subtle" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <p class="fw-semibold" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)">Password is required</p>
                <input type="password" placeholder="Enter password" class="form-control border border-dark-subtle" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary my-3" [disabled]="!registerForm.valid">Submit</button>
            <span *ngIf="registerForm.valid" id="checkmark" class="ps-3"><i class="fa-solid fa-check"></i></span>
            <div id="registerHelp" class="form-text my-3">Already have an account? <a class="link-dark" routerLink="">Login</a></div>
        </form>
    </div>
</div>

